.App {
  background-image: url("C:/Users/Vijander tomar/Downloads/SUP/sup/public/IMAGES/background.png") !important;
  background-size: auto;
  background-position: center;
  height: 100%;
  width: 100%;
  padding-bottom: 3rem;
}

